.main-footer {
    background-color: #3C2F19;
    padding-top: 20px;
}

.footer-menu > .footer-menu-item--expanded a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.footer-menu {
    padding-right: 80px;
    padding-left: 80px;
    list-style-type: none;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: auto auto auto auto auto auto;
}


.footer-menu-item--expanded:last-child{
    margin-left: 100px;
}

.footer-menu2 > .footer-menu-item a{
    color: #B2B2B2;
    text-decoration: none;
    font-weight: normal;
}

.footer-menu-item a:hover{
    text-decoration: underline;
}

.footer-copyright{
    padding-right: 80px;
    padding-left: 80px;
}

.footer-copyright p{
    color: #B2B2B2;
    font-size: small;
}

@media screen and (max-width: 650px){
    .footer-menu{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .footer-menu-area{
        text-align: center !important;
    }

    .footer-menu-item--expanded:last-child{
        margin-left: 0;
    }
}